---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="個人情報保護方針（プライバシーポリシー）"
	description="個人情報保護方針（プライバシーポリシー）"
	pubDate={new Date('2017-03-20')}
>
	<h2>個人情報の収集</h2>
	<p>本アプリでは、お客様のお問い合わせに回答する目的で氏名、メールアドレス等の個人情報を取得することがあります。
	<p>また、本アプリでは、ログイン認証機能及びデータベースツールとしてFirebaseを使用し、アプリ開発者とFirebaseは、ユーザー情報とアプリで操作されるデータを取得して保存します。アプリ開発者は、この個人情報を厳重に取り扱い、本アプリの使用目的以外の目的で使用することはありません。Firebaseの個々の機能と取得したデータの処理については、以下のリンクを確認してください。
	<ul>
		<li>Firebase認証：<a href="https://firebase.google.com/docs/auth/">https://firebase.google.com/docs/auth/</a>
		<li>Firebase Cloud Firestore：<a href="https://firebase.google.com/docs/firestore">https://firebase.google.com/docs/firestore</a>
	</ul>

	<h2>情報収集モジュール</h2>
	<p>本アプリでは、ユーザーの利用状況を把握するために下記の事業者が提供する情報収集モジュールを使用し、当該事業者を通じて本アプリ上の行動履歴情報及び端末情報を匿名で自動取得します。

	<ul>
		<li>事業者：Google Inc.
		<li>情報収集モジュール：Google Analytics, Firebase Analytics, Crashlytics
		<li>プライバシーポリシー：<a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>
	</ul>

	<h2>広告の配信について</h2>
	<p>本アプリでは、メディア上への広告出稿のため下記の事業者が提供する情報収集モジュールを利用しています。当該情報収集モジュールにより取得される情報又は取得された情報の利用目的、オプトアウト手順等については、各情報収集モジュール提供会社が提供しているプライバシーポリシーをご確認ください。

	<ul>
		<li>事業者：Google Inc.
		<li>情報収集モジュール：Google AdSense, AdMob
	<li>プライバシーポリシー：<a href="https://policies.google.com/?hl=ja">https://policies.google.com/?hl=ja</a>
	</ul>

	<p>本ポリシーに関するお問い合わせは、<a href="mailto:dev.75py@gmail.com">dev.75py@gmail.com</a>までお願い致します。

	<p style="text-align: end">
		2017年3月20日制定<br>
		2022年4月1日改定
	</p>
</Layout>
